.mnuPrice{
    font-size: 13px;
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.NormalLinkBlue{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #0ba2d2;
    font-weight: bold;
}

.NormalLinkGreen{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color:#08b173;
    font-weight: bold;
}