.mnuTitle{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.mnuDsc{
    font-size: 13px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.commonLabel{
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}