@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Extra+Condensed');

.col{
background: white;
border: think solid black;
}

.mnuTitle{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.mnuDsc{
    font-size: 13px;
    color: black;
    font-family: 'Raleway', sans-serif;
}
